<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="4.4.0" targetFramework="net472" />
  <package id="IronOcr.Languages.Arabic" version="4.4.4.11" targetFramework="net472" />
  <package id="IronOcr.Languages.ChineseSimplified" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.ChineseTraditional" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Danish" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Finnish" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.French" version="4.4.4.2" targetFramework="net45" />
  <package id="IronOcr.Languages.German" version="4.4.4.11" targetFramework="net45" />
  <package id="IronOcr.Languages.Hebrew" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Italian" version="4.4.4.11" targetFramework="net45" />
  <package id="IronOcr.Languages.Japanese" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Korean" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Norwegian" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Portuguese" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Russian" version="4.4.4.1" targetFramework="net472" />
  <package id="IronOcr.Languages.Spanish" version="4.4.4.1" targetFramework="net472" />
  <package id="Ocr" version="4.4.4.11" targetFramework="net472" />
  <package id="Tesseract" version="3.3.0" targetFramework="net45" />
</packages>